.hey,.ready
{
  text-align:justify;
  margin-top:16px;
}
.ready
{
 box-shadow: 0 25px  25px 0px rgba(0, 0, 0, 0.2);
 padding:30px;
 padding-bottom:4px;
 margin-bottom:16px;
}
.ticket,.apply,.loadMore
{
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:40px;
    margin: 4px 2px;
    cursor: pointer;
}
.loadMore
{ 
  color:black;
   padding:15px;
   margin-top:16px;
}
.ticket
{
    background-color: rgb(82, 0, 204);
}
.loadMore:hover
{
    background-color: rgba(255,0,32,1);
    color:white;
    transition: background-color  1s;
}
.ticket:hover
{
    background-color: rgba(255,0,32,1);
    color:white;
    transition: background-color  1s;
}
.apply
{
    background-color: rgba(255,0,32,1);
}
  
.apply:hover
{
    background-color: rgb(82, 0, 204);
    color:white;
    transition: background-color  2s;
}
.buttons,.ticketButton
{
  text-align:center;
}
.hack
{
  background-color:rgba(0,0,0,0.08);
  margin-top:25px;
}
.winners
{
  text-align:center;
  font-family: 'Aclonica';
  margin-top:16px;
}
.imageWin
{
  height:150px;
  width:150px;
}
.imageText
{
  text-align:center;
}
.hackthon{
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
}
.hackthon>div 
{
  margin:20px 80px 20px 80px;
}
.hackText
{
  text-align:center;
}
.quotes
{
  text-align:center;
  clear:both;
  margin-top:30px;
}
.famousWords
{
  height:150px;
  width:150px;
  float:left;
  border-radius:150px;
}
.famousWords:hover
{
  height:150px;
  width:150px;
  float:left;
  border-radius:150px;
  opacity:0.2;
  cursor:pointer;
}

.headMentors
{
  font-size:35px;
  text-align:center;
  font-family: 'Aclonica';
  margin-bottom:10px;
}
.speakers{
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
}
.speakerImages
{
  height:180px;
  width:170px;
  filter: grayscale(100%);
}
.speakerImages:hover
{
  height:180px;
  width:170px;
  filter: grayscale(0%);
}
.content
{
  font-size:18px;
  line-height: 24px;
}
.hide
{
  display:none;
}
#ticketEmail
{
  margin-left:10px;
  width:200px;
}
#submit
{
  background-color:lightblue;
}
.details
{
  display:none;
}
.capitalImage
{
   width:160px;
   height:160px;
   filter: grayscale(100%);
}
.capitalImage:hover
{
   width:160px;
   height:160px;
   filter: grayscale(0%);
}
.quotesHead
{
 margin-top:25px;
}
